<%- include("partials/header.ejs") %>

<h1>Edit Page Content</h1>

<form action="/<%= content.pageName %>?_method=PUT" method="post">
    <input type="hidden" name="_id" value="<%= content._id %>">
    <input type="hidden" name="pageName" value="<%= content.pageName %>">
    <label for="page-header">Name</label>
    <input type="text" name="title" id="page-header" value="<%= content.title %>">
    <label for="htmlContent"></label>
    <textarea name="content" id="htmlContent" cols="30" rows="10"><%= content.content %></textarea>
    <input type="submit">
</form>

<%- include("partials/footer.ejs") %>