<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/showtimesCard.css">

<div class="movie-details">
    <div class="row">
        <img class="movie-details-header-img col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3" src="<%= movie.bannerUrl %>" alt="<%= movie.title %> banner image">
        <div style="width: 15em; height: 15em; position: absolute; left: 8em; filter: blur(8px);"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6 showtimes-card-col-1">
            <div class="row">
                <div class="col-sm-5 d-none d-md-block">
                    <img id="movie-details-img" src="<%= movie.posterUrl %>" alt="<%= movie.title %> poster">
                </div>
                <div class="col-sm-7">
                    <p>Run Time: <%= movie.runtime %>min</p>
                    <p>Directed By: <%= movie.director %></p>
                    <p>Starring: <%= movie.starring %></p>
                    <p>MPAA Rating: <%= movie.mpaa %></p>
                    <p><%= movie.synopsis %></p>
                </div>
                <hr class="d-md-none">
            </div>
        </div>
        <div class="col-md-6 showtimes-card-col-2">
            <ul class="showtimes-list">
                <% for(let showdate of Object.keys(sortedShowtimes)){ %>
                    <li><%= showdate %>
                        <ul class="showtime-times-ul">
                            <% for(let showtime of sortedShowtimes[showdate]){ %>
                                <li class="showtime-time"><%= showtime %></li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>
            </ul>
            <a class="btn btn-warning" href="/movies/<%= movie.id %>/edit">Edit Movie</a>
            <form class="d-inline" action="/movies/<%= movie.id %>?_method=DELETE" method="post">
                <button class="btn btn-danger">Delete Movie</button>
            </form>
        </div>
    </div>
</div>